absl-py
blis
certifi
chardet
ConfigArgParse
cymem
future
grpcio
idna
jsonschema
Markdown
murmurhash
numpy
pandas
Pillow
plac
preshed
protobuf
python-dateutil
pytz
requests
six
spacy
srsly
tensorboard
tensorboardX
thinc
torch
torchtext
torchvision
tqdm
urllib3
wasabi
Werkzeug
